.footer {
  background-color: black;
  padding: 40px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  color:white;
  font-size: 1.8rem;
  margin-right: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color:#000033 ;
}

.address {
  text-align: right;
}

.address p {
  color: white;
  margin: 5px 0;
  font-size: 1.2rem;
  line-height: 1.5;

}

.rights {
  color: white;
  margin-top: 30px;
  font-size: 1.2rem;
  margin-left: auto;
  order: 2;
}

@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .social-icons {
    margin-bottom: 10px;
    
  }

  .address {
    text-align: center;
    margin-top: 20px;
  }

  .address p {
    margin: 10px 0;
  }

  .rights {
    margin-top: 20px;
    order: 1;
  }

  .footer {
    position: relative;
    padding: 40px 20px;
  }
}
