.testimonials-section {
  padding: 50px 0;
  background-color: white;
}

.section-heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #000033;
}

.testimonials-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.testimonial-box {
  width: calc(50% - 40px);
  margin: 20px;
  padding: 30px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  perspective: 1000px;
  transition: transform 0.5s;
  animation: testimonialSlideIn 1s ease-in-out;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

.testimonial-box:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid transparent;
  border-radius: 5px;
  z-index: -1;
  transition: border-color 0.5s, box-shadow 0.5s;
  animation: testimonialBorderAnimation 2s infinite ease-in-out;
}

.testimonial-text {
  font-size: 1rem;
  color: #000033;
  margin-bottom: 10px;
  font-weight: 300;
}

.testimonial-name {
  font-weight: bold;
  color: black;
  text-align: center;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.5s;
}

.testimonial-content {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .testimonials-container {
    flex-direction: column;
    align-items: center;
  }

  .testimonial-box {
    width: 80%;
    text-align: center;
    padding: 20px;
  }

  .testimonial-name {
    position: static;
    transform: none;
    margin-top: 10px;
  }
}

/* Hover effect */
.testimonial-box:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

/* Animation */
@keyframes testimonialSlideIn {
  0% {
    transform: translateZ(-100px) rotateX(40deg);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) rotateX(0);
    opacity: 1;
  }
}

@keyframes testimonialBorderAnimation {
  0% {
    border-color: transparent;
    box-shadow: 0 0 5px rgba(0 0 51, 0.3);
  }
  50% {
    border-color: #000033;
    box-shadow: 0 0 10px rgba(0, 0, 51, 0.5), 0 0 20px rgba(0, 0, 51, 0.3);
  }
  100% {
    border-color: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 51, 0.3);
  }
}


